* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#attributes-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#attributes-div > div {
  display: flex;
  flex-direction: row;
  margin: 24px;
}

#attributes-div > div > input[type="text"] {
  width: 24px;
  margin-left: 6px;
}

#action-screen-div,
#action-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.screen-button {
  width: 160px;
  padding: 8px 0;
  margin: 12px 0;
}

#characteristics-div {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

.characteristic-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 12px 0 12px 0;
  justify-content: left;
  align-items: center;
  width: 25%;
}

.characteristic-action-screen-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.characteristic-action-screen-div > .characteristic-div {
  width: auto;
}

.characteristic-value-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 140px;
  height: 70px;
}

.characteristic-value-div > input {
  width: 50%;
  height: 100%;
}

.characteristic-value-div > p {
  height: 50%;
  width: 50%;
  border-style: groove;
}

.characteristic-div > p,
.roll-button,
.characteristic-use-luck-div {
  margin: 0 12px 0 12px;
}

.roll-button {
  width: 70px;
  height: 70px;
}

.characteristic-use-luck-div > input,
.characteristic-use-luck-div > button,
.characteristic-push-button {
  width: 70px;
  height: 70px;
}

#action-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.roll-fail {
  background-color: #ff5959;
}

.roll-success {
  background-color: #59ff67;
}